# For local development, run `supabase status` to get credentials.
# For hosted instance keys head to https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdsdGFqYnpqenZpaHBlaGl2anpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODU5MDYyNTYsImV4cCI6MjAwMTQ4MjI1Nn0.qPfvzbtLAc5gwpTk-G05Zf8zhPi61eFSMyek1Mc0ttY
SUPABASE_SERVICE_ROLE_KEY=

# Get your key at https://platform.openai.com/account/api-keys
OPENAI_KEY=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